body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.background {
    background-image: url("photograpy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh; 
}

header {
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 1em;
}

main {
    padding: 20px;
}

.form_bold {
    background: rgba(0, 0, 0, 0.8);
    margin: 0 auto;
    width: 700px;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
    box-shadow: rgba(236, 101, 10, 1) 0 5px, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 80px;
    margin-top: -60px;
}

.text {
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    padding: 50px;
}

text_2 {
    font-family: sans-serif;
    font-size: 20px;
    text-align: left;
}

text_3 {
    font-family: sans-serif;
    font-size: 13px;
    text-align: left;
}

.campo {
    width: 700px;
    padding: 10px;
    background-color: #ededed;
    border: none;
    border-bottom: 2px solid grey;
}

.campo:focus {
    border: none;
    border-bottom: 2px solid red;
}

.button {
    padding: 16px 20px;
    width: 700px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    background: rgba(236, 101, 10, 1);
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
    background-color: white;
}

aside {
    width: 300px;
    float: right;
    margin-top: 20px;
}

.info-box {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    text-align: center;
}

aside {
    text-align: center;
}

.info-box {
    width: 70%;
    margin: 10px auto;
    text-align: left;
}

footer {
    text-align: center;
    margin-top: 20px;
}
